
          nav{
            height: 50px;
            background-color: cornflowerblue;
            line-height: 30px;
            font-size: 20px;
        }
          nav li{
              list-style: none;
              float: left;
              padding: 10px;
          }
          nav li:hover{
              background-color: cornsilk;
          }
          nav a{
              text-decoration: none;
              color: black;
          }
          nav > ul > li{
              float: left;
          }
          .dropdown{
              display: none;
              position: absolute;
              background-color: lime;
              padding: 0px;
          }
          nav > ul > li:hover >ul{
              display: block;
          }